In [74]:
import sqlite3
import pandas as pd
import sqlalchemy

In [75]:
# Create connection to SQL and an engine for SQLalchemy
connection = sqlite3.connect(r'C:\Users\Shanky\Desktop\Python\Main_Projects\DatabaseAnalyzer\Data\SebaData.db')
cursor = connection.cursor()
engine = sqlalchemy.create_engine(r'sqlite:///C:\Users\Shanky\Desktop\Python\Main_Projects\DatabaseAnalyzer\Data\SebaData.db').connect()

In [76]:
df = pd.read_sql_table('Franklin', engine, index_col=0)

In [77]:
df.head()

             date asp_name  grade
0  01/07/23 09:22  Acton01   87.2

In [78]:
new_data = {'asp_name': "Acton01", 'date': "01/07/23 09:25", 'grade': 87.2}

In [79]:
df = df.append(new_row, ignore_index=True)

In [80]:
df.to_sql('Franklin', engine, if_exists='replace', index=False)