In [33]:
import sqlite3
import pandas as pd
import sqlalchemy

In [38]:
# Create connection to SQL and an engine for SQLalchemy
connection = sqlite3.connect(r'C:\Users\Shanky\Desktop\Python\Main_Projects\DatabaseAnalyzer\Data\SebaData.db')
cursor = connection.cursor()
engine = sqlalchemy.create_engine(r'sqlite:///C:\Users\Shanky\Desktop\Python\Main_Projects\DatabaseAnalyzer\Data\SebaData.db').connect()

In [39]:
df = pd.read_sql_table('Franklin', engine, index_col=1)

In [40]:
df.head()

Empty DataFrame
Columns: [asp_name, date, grade]
Index: []

In [41]:
new_data = {'asp_name': "Acton01", 'date': "01/07/23 09:00", 'grade': 87.2}

In [42]:
df = pd.DataFrame(new_data, index=[0])

In [43]:
df = df.append(new_row, ignore_index=True)

In [44]:
df.to_sql('Franklin', engine, if_exists='replace', index=False)